* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 72px;
    background-color: #FFFFFA;
}

.container {
    margin: 0 auto;
    padding-inline: 15px;
}

.logo span {
    font-size: 64px;
    font-weight: bold;
    letter-spacing: 0em;
    text-align: left;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -72px;
}

header .container .nav {
    display: flex;
    gap: 100px;
}

header .container .nav {
    list-style-type: none;
}

header .container .nav a {
    text-decoration: none;
    font-size: 24px;
}
.nav-btn {
    position: relative;
}
.nav-btn img {
    position: absolute;
}
.menu {
    display: none;
}
.nav-btn .close-btn {
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.nav-btn .search-btn {
    pointer-events: auto;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.nav-btn.active .search-btn {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
}
.nav-btn.active .close-btn {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
/* box search hidden */
.box-search {
    /* display: none; */
    /* width: 1200px; */
    margin: 0 auto;
    text-align: right;
    position: relative;
    top: 0;
    z-index: -500;
}

.box-search.active {
    z-index: 0;
}

.box-search input {
    background: #FFFFFA;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 0px 0px 8px 8px;
    font-size: 24px;
    line-height: 42px;
    border: 0;
    padding: 12px 48px;
    outline: 0;

}

.box-search input::placeholder {
    color: #b3b3b3 ;
}

.box-search.active {
    top: 72px;
}

.landing {
    background-color: #F5A05C;
    background-image: url(/images/BG-Shape.svg);
    background-repeat: no-repeat;
    background-position: right;
    /* height: calc(100vh - 72px); */
}

.landing .content {
    padding-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    Font-size: 64px;
    font-weight: 900;
    font-style: black;
}

.text p {
    font-size: 24px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 0em;
    margin-block: 24px;
    max-width: 418px;
}

.text a {
    text-decoration: none;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 400;
    background-color: #01847F;
    color: #fff;
    padding: 9px 36px;
}

.photo {
    position: relative;
}

.photo img {
    width: 500px;
    background-size: cover;
    position: relative;
    z-index: 10000;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.photo img:hover {
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.bg-photo {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 419px;
    height: 419px;
    background-color: #44A1A0;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.footer {
    margin-top: 150px;
    display: flex;
    align-items: center;
    gap: 42px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 599px) {
.container,
.box-search {
    width: 100%;
}

header .container .nav {
    flex-direction: column;
    gap: 15px;
    top: 72px;
    background-color: #f5a05cd9;
    position: absolute;
    left: 0px;
    width: 100%;
    padding: 62px 20px;
    z-index: -1;
}

h1 {
    position: relative;
    margin-top:-61px ;
}

.menu {
    display: block;
    position: absolute;
    left: 84%;
    top: 19px;
}

.menu-open {
    position: absolute;
    pointer-events: auto;
    transition: 0.3;
    -webkit-transition: 0.3;
    -moz-transition: 0.3;
    -ms-transition: 0.3;
    -o-transition: 0.3;
}

.menu-close {
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.menu-btn.active .menu-open {
    opacity: 0;
    pointer-events: none;
}

.menu-btn.active .menu-close {
    opacity: 1;
    pointer-events: auto;
}

h1.active{
    margin-top: 200px;
}

header .container .nav.active {
    z-index: 0;
}

.footer {
    flex-direction: column;
    padding-bottom: 50px;
}

.box-search {
    position: relative;
    /* z-index: -1000; */
}

.icon-search {
    position: absolute;
    top: 210px;
    left: 20px;
    z-index: 2;
}

.box-search.active {
    top: 233px;
    z-index: 1;
}

.box-search input {
    position: relative;
    top: 25px;
    width: 100%;
}

.bg-photo {
    display: none;
} 

.photo img {
    width: 300px;
    margin-top: 92px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

.container,
.box-search {
    width: 546px;
}

header .container .nav {
    gap: 50px;
}

.footer {
    padding-bottom: 50px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

.container,
.box-search {
    width: 740px;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 992px) {
.landing .content {
    flex-direction: column;
    gap: 30px;
}

.landing {
    background-size: cover;
    height: unset;
}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.container,
.box-search {
    width: 960px;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.container,
.box-search {
    width: 1170px;
}
}
}
